dist: trusty
language: csharp
solution: src/SME.sln
mono: none
dotnet: 2.0
before_install:
  - sudo add-apt-repository ppa:pgavin/ghdl -y
  - sudo apt-get -qq update
  - sudo apt-get install -y ghdl
install:
  - dotnet restore src/SME.sln
script:
  - dotnet build -c Release src/UnitTest
  - echo "travis_fold:start:unit_test"
  - dotnet test -c Release src/UnitTest
  - echo "travis_fold:end:unit_test"


