name: .NET 10.0

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    name: Samples and unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ghdl-backend: mcode
            ghdl-investigate: true
          - os: macos-latest
            ghdl-backend: llvm
            ghdl-investigate: false
          - os: windows-latest
            ghdl-backend: mcode
            ghdl-investigate: false

    env:
      SME_TEST_SKIP_VCD: 1
      SME_TEST_USE_NATIVE_GHDL: 1

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 10.0.*
      - name: Setup GHDL
        uses: ghdl/setup-ghdl@v1
        with:
          version: latest
          backend: ${{ matrix.ghdl-backend }}
          investigate: ${{ matrix.ghdl-investigate }}
      - name: Restore
        run: dotnet restore src/SME.slnx
      - name: Build
        run: dotnet build --no-restore src/UnitTest
      - name: Test
        run: dotnet test --no-build --logger:"console;verbosity=detailed" src/UnitTest
